<div class="container">        
        <h3>Location Details</h3>   
       
            <div>   
              <label>Lattitude</label>   
              <%= @location.lattitude %>   
            </div>   
  
            <div>   
              <label>Longitude</label>   
              <%= @location.longitude %>   
            </div>   
            
            <div>   
              <label>Name</label>   
              <%= @location.name %>   
            </div>   
         
</div>  